*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
font-family: 'Yusei Magic', sans-serif;
}
i{
    cursor: pointer;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    
}

.col{
    padding: 2%;
    width: 15%;
    height: 100%;
    border-right: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
}

ul{
    list-style: none;
}

ul.menu-col{
    padding: 2%;
}

ul.menu-col li,
ul.sub-menu-col li{
    line-height: 1.9;
    cursor: pointer;
    font-size: 15px;
}

.main-nav{
    width: 100%;
    height: 100%;
    padding: 1%;
    margin-left: 15%;

}
.todo-container{
    width: 90%;
    background-color: cadetblue;
}
ul.menu-todo{
    width: 100%;
    padding: 2%;
}
ul.menu-todo li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.todo-container2{
    width: 90%;
    border: 1px solid white;
}
ul.menu-todo-delete{
    margin-right: 20%;
    padding: 2%;

}
ul.menu-todo-delete li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-input{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 2% 0%;
}

#add-note{
    padding: 6px 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 10px;
}

#input{
    /* flex-grow: 2; */
    border-radius: 8px;
    border: 1px solid black;
    width: 60%;
}

#input:focus{
    outline: 0;
}

.btn{
    background-color: crimson;
}

.design-note{
    border-bottom: 1px solid rgba(71, 70, 70, 0.13);
}

#font-delete{
    color: rgba(201, 68, 68, 0.822);
}

#recreate{
    color: rgb(11, 73, 29);
}

.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;

}

.user > *:not(:last-child){
    margin: 0 3px;
}

.circle-user{
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.circle-user span{
    font-size: 8px;
}

.user-mail{

    display: flex;
    flex-direction: column;
    position: relative;
}




.name-user{
    display: flex;
    justify-content: space-around;
}

.pink{
    background-color: pink;
}

.container-progress{
    height: 50px;
    align-items: flex-start;
}
#progress{
    
    background: #00F260;  /* fallback for old browsers */
    background: linear-gradient(to left, #1577d8, rgba(18, 114, 18, 0.911), #00F260, rgba(224, 60, 10, 0.507), red);
    height: 10px;
    width: 0%;
    border-radius: 10px;
    transition:  400ms ease all ;
        /* transition: width 400ms; */

}
.bar{
    border: 1px solid black;
    background-color: white;
    background: #f0f0f0;
    height: 10px;
    width: 50%;
    border-radius: 10px;
}


.area-cestino{
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 16px;
    

}